.profile {
    text-decoration: none;
    list-style: none;
    border-radius: 5px;
}

.title {
    margin-left: 10px;
}

.profile_name {
    border: .2px solid rgb(64, 75, 170);
    margin: 10px;
    width: 50%;
    text-align: center;
}

.profile_name:hover {
    background-color: #242486;
	color: white;
	border-radius: 12px;
	transition-duration: 0.4s;
	padding: 2px;
}

.links:link {
    color: black;
    text-decoration: none;
}

.links:visited {
    color: black;
    text-decoration: none;
}