.landing {
	display: flex;
    flex-direction: column;
	height: 12em;
	align-items: center;
	justify-content: center;
	margin: 10px;
    padding: 10px;
	background: #01024d;
	color: rgb(225, 241, 255);
	font-size: 50px;
	font-family: 'Fira Mono', monospace;
}

.landing_phrase {
	animation: glitch 1s linear infinite;
}

@keyframes glitch {
	5%,
	65% {
		transform: translate(2px, 0) skew(0deg);
	}
	5%,
	60% {
		transform: translate(-2px, 0) skew(0deg);
	}
	65% {
		transform: translate(0, 0) skew(5deg);
	}
}

.landing_phrase:before,
.landing_phrase:after {
	content: attr(title);
	position: absolute;
	left: 0;
}

.landing_phrase:before {
	animation: glitchTop 1s linear infinite;
	clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {
	5%,
	65% {
		transform: translate(2px, -2px);
	}
	5%,
	60% {
		transform: translate(-2px, 2px);
	}
	65% {
		transform: translate(13px, -1px) skew(-13deg);
	}
}

.landing_phrase:after {
	animation: glitchBotom 1.5s linear infinite;
	clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
	-webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom {
	5%,
	65% {
		transform: translate(-2px, 0);
	}
	5%,
	60% {
		transform: translate(-2px, 0);
	}
	65% {
		transform: translate(-22px, 5px) skew(21deg);
	}
}

/* https://www.sliderrevolution.com/resources/css-text-animation/  */

.landing_intro {
    font-size: 20px;
}

.landing_btn {
border-radius: 12px;
background-color: #484bff;
color: white;
padding: 5px 12px;
border: 2px solid white;
transition-duration: 0.4s;
}

.landing_btn:hover {
    background-color: #4CAF50;
    color: white;
}