nav {
	background-color: hsl(201, 100%, 36%);
	position: static;
	font-family: 'Fira Mono', monospace;
}

.nav_welcome {
	color: #caf0f8;
	align-items: center;
	text-align: center;
	padding-left: 50%;
	height: 120px;
	margin-top: 0%;
	margin-bottom: 0%;
	display: flex;
}

.menuNav {
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	position: absolute;
	background: #03045e;
	height: 100vh;
	width: 100;
	overflow: hidden;
	max-width: 290px;
	z-index: 100;
	color: #caf0f8;
}

.navBtn {
	position: fixed;
	left: 40px;
	top: 40px;
	z-index: 10;
	cursor: pointer;
	border-radius: 10px;
	background-color: #9d9db9;
}

.navBtn:hover {
	background-color: aliceblue;
}

.navList {
	list-style: none;
	color: white;
	padding: 20px;
}

.navLink {
	color: white;
	text-decoration: none;
	list-style: none;
}

.navLink:hover {
	background-color: #797985;
	color: white;
	border-radius: 12px;
	transition-duration: 0.4s;
	padding: 10px;
}

ul {
	display: flex;
	flex-direction: column;
	height: 500px;
}

.landing_phrase {
	animation: glitch 1s linear infinite;
	color: aliceblue;
	text-decoration: none;
}

@keyframes glitch {
	5%,
	65% {
		transform: translate(2px, 0) skew(0deg);
	}
	5%,
	60% {
		transform: translate(-2px, 0) skew(0deg);
	}
	65% {
		transform: translate(0, 0) skew(5deg);
	}
}

.landing_phrase:before,
.landing_phrase:after {
	content: attr(title);
	position: absolute;
	left: 0;
}

.landing_phrase:before {
	animation: glitchTop 1s linear infinite;
	clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop {
	5%,
	65% {
		transform: translate(2px, -2px);
	}
	5%,
	60% {
		transform: translate(-2px, 2px);
	}
	65% {
		transform: translate(13px, -1px) skew(-13deg);
	}
}

.landing_phrase:after {
	animation: glitchBotom 1.5s linear infinite;
	clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
	-webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom {
	5%,
	65% {
		transform: translate(-2px, 0);
	}
	5%,
	60% {
		transform: translate(-2px, 0);
	}
	65% {
		transform: translate(-22px, 5px) skew(21deg);
	}
}
