nav {
	background-color: hsl(201, 100%, 36%);
	position: static;
	font-family: 'Fira Mono', monospace;
}

.nav_welcome {
	color: #caf0f8;
	align-items: center;
	text-align: center;
	padding-left: 50%;
	height: 120px;
	margin-top: 0%;
	margin-bottom: 0%;
	display: flex;
}

.menuNav {
	overflow-y: scroll;
	display: flex;
	flex-direction: column;
	position: absolute;
	background: #03045e;
	height: 100vh;
	width: 100;
	overflow: hidden;
	max-width: 290px;
	z-index: 100;
	color: #caf0f8;
}

.navBtn {
	position: fixed;
	left: 40px;
	top: 40px;
	z-index: 10;
	cursor: pointer;
	border-radius: 10px;
	background-color: #9d9db9;
}

.navBtn:hover {
	background-color: aliceblue;
}

.navList {
	list-style: none;
	color: white;
	padding: 20px;
}

.navLink {
	color: white;
	text-decoration: none;
	list-style: none;
}

.navLink:hover {
	background-color: #797985;
	color: white;
	border-radius: 12px;
	transition-duration: 0.4s;
	padding: 10px;
}

ul {
	display: flex;
	flex-direction: column;
	height: 500px;
}

.landing_phrase {
	animation: glitch 1s linear infinite;
	color: aliceblue;
	text-decoration: none;
}